.Logo {
    width: 100%;
    height: auto
}

.Video_Embed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.Fit_image{
    height: auto;
    width: 100%;
}

.GroupPage_Content_Row{
    margin-top: 20px;
    margin-bottom: 20px;
    flex-flow: row wrap;
}

.GroupPage_Content_Row_Flex_Reverse{
    margin-top: 20px;
    margin-bottom: 20px;
    flex-flow: row wrap-reverse;
}

.Banner{
    max-width: 100%;
    height: auto
}

