*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h2{
    color: white;
    text-align: center;
}

.Text_Light{
    color: white;
}
.Logo {
    width: 100%;
    height: auto;
}

.Fit_image{
    height: auto;
    width: 100%;
}

.GroupPage_Content_Row{
    margin-top: 20px;
    margin-bottom: 20px;
    flex-flow: row wrap;
}

.GroupPage_Content_Row_Flex_Reverse{
    margin-top: 20px;
    margin-bottom: 20px;
    flex-flow: row wrap-reverse;
    padding: 20px;
}

.Banner{
    max-width: 100%;
    height: auto
}

.Video_Embed {
    position: relative; 
    padding-bottom: 50%; 
    height: 0; 
    overflow: hidden; 
}

.Video_Embed_iFrame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
}

#GroupPageLogo{
    min-height: 50vmin;
}

.Spotify_Embed{
    padding: 10px;
}